<!doctype html>
%html
  %head
    %meta{:charset => "utf-8"}
      %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
        %title= content_for?(:title) ? yield(:title) : "PivotalManager"
        %meta{:content => "", :name => "description"}
          %meta{:content => "", :name => "author"}
            = stylesheet_link_tag    "application", :media => "all"
            = javascript_include_tag "application"

            -#Graphing via D3 and NVD3
            -#http://d3js.org/
            -#http://nvd3.org/
            = javascript_include_tag "d3.v3.min"
            = javascript_include_tag "nv.d3.min"
            = csrf_meta_tags
            = yield(:head)
  %body
    %header.navbar.navbar-fixed-top
      %nav.navbar-inner
        .container
          = render 'layouts/navigation'
    #main{:role => "main"}
      .container
        .content
          .row
            .span12
              = render 'layouts/messages'
              = yield
          %footer
      / ! end of .container
    / ! end of #main
